<table class="racer_table">
  <tr id="player1_strip">
    <td class="player_1_position">a</td>
    <td>|</td>
    <td>|</td>
    <td>|</td>
    <td>|</td>
    <td>|</td>
    <td>|</td>
    <td>|</td>
    <td>|</td>
    <td>|</td>
    <td>|</td>
    <td>|</td>
    <td>|</td>
    <td>|</td>
    <td>|</td>
    <td>|</td>
    <td>|</td>
    <td>|</td>
    <td>|</td>
    <td>|</td>
    <td>|</td>
    <td>|</td>
    <td>|</td>
    <td>|</td>
    <td>|</td>
    <td>|</td>
    <td>|</td>
    <td>|</td>
    <td>|</td>
    <td>|</td>
</tr>
<tr id="player2_strip">
    <td class="player_2_position">b</td>
    <td>|</td>
    <td>|</td>
    <td>|</td>
    <td>|</td>
    <td>|</td>
    <td>|</td>
    <td>|</td>
    <td>|</td>
    <td>|</td>
    <td>|</td>
    <td>|</td>
    <td>|</td>
    <td>|</td>
    <td>|</td>
    <td>|</td>
    <td>|</td>
    <td>|</td>
    <td>|</td>
    <td>|</td>
    <td>|</td>
    <td>|</td>
    <td>|</td>
    <td>|</td>
    <td>|</td>
    <td>|</td>
    <td>|</td>
    <td>|</td>
    <td>|</td>
    <td>|</td>
</tr>
</table>

